.button{
    font-family: 'Roboto', sans-serif;
    background-color: skyblue;
    color: black;
    height: 60px;
    min-width: 150px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    @keyframes loading {
        0%   { width: 100% }
        100% { width: 0% }
    }

    & .loading-block {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: gray;
        height: 100%;
        width: 0%;

        animation-name: none;
        animation-duration: 5s;
        animation-timing-function: linear;

        &--loading {
            animation-name: loading;
            animation-duration: 5s;
        }
    }


    &--disabled{
        opacity: 0.5;
        cursor: default;
    }

    &--loading {
        & .loading-block {
            opacity: 0.5;
        }
    }

    &--fluid {
        width: 100%;
    }

    &--shy {
        margin-top: 16px;
    }
}