.effect-icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 16px;
}